<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bravo FM913 台北都會休閒音樂台</key>
	<array>
		<string>1001</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>KISS RADIO 網路音樂台</key>
	<array>
		<string>308</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>KISS RADIO 大眾廣播電台</key>
	<array>
		<string>156</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>KISS RADIO 台南知音廣播</key>
	<array>
		<string>255</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>KISS RADIO 大苗栗廣播</key>
	<array>
		<string>256</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>KISS RADIO 南投廣播</key>
	<array>
		<string>258</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>中廣音樂網i radio</key>
	<array>
		<string>206</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>中廣流行網</key>
	<array>
		<string>205</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>HitFM聯播網 北部</key>
	<array>
		<string>222</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>HitFM聯播網 中部</key>
	<array>
		<string>88</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>HitFM聯播網 南部</key>
	<array>
		<string>90</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>POP Radio 917台北流行音樂電台</key>
	<array>
		<string>370</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>台北愛樂</key>
	<array>
		<string>228</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>奇美古典音樂網</key>
	<array>
		<string>294</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>BestRadio 台北好事989</key>
	<array>
		<string>212</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>BestRadio 高雄港都983</key>
	<array>
		<string>213</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>BestRadio 台中好事903</key>
	<array>
		<string>211</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>BestRadio 花蓮好事935</key>
	<array>
		<string>303</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>Apple line 蘋果線上</key>
	<array>
		<string>248</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>ASIAFM衛星音樂台</key>
	<array>
		<string>321</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>Flyradio飛揚調頻895</key>
	<array>
		<string>357</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>佳音聖樂網 CCM</key>
	<array>
		<string>340</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>全國廣播音樂網</key>
	<array>
		<string>338</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>台灣之音-音樂</key>
	<array>
		<string>313</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>太陽電台</key>
	<array>
		<string>289</string>
		<integer>0</integer>
		<string>音樂</string>
	</array>
	<key>非凡音電台</key>
	<array>
		<string>1040</string>
		<integer>0</integer>
		<string>生活</string>
	</array>
	<key>飛碟電台</key>
	<array>
		<string>232</string>
		<integer>0</integer>
		<string>生活</string>
	</array>
	<key>ASIA FM92.7亞州電台</key>
	<array>
		<string>210</string>
		<integer>0</integer>
		<string>生活</string>
	</array>
	<key>ASIA FM92.3亞太電台</key>
	<array>
		<string>295</string>
		<integer>0</integer>
		<string>生活</string>
	</array>
	<key>IC之音</key>
	<array>
		<string>148</string>
		<integer>0</integer>
		<string>生活</string>
	</array>
	<key>環宇電台</key>
	<array>
		<string>282</string>
		<integer>0</integer>
		<string>生活</string>
	</array>
	<key>全國廣播</key>
	<array>
		<string>202</string>
		<integer>0</integer>
		<string>生活</string>
	</array>
	<key>佳音電台</key>
	<array>
		<string>201</string>
		<integer>0</integer>
		<string>生活</string>
	</array>
	<key>佳音電台2台</key>
	<array>
		<string>250</string>
		<integer>0</integer>
		<string>生活</string>
	</array>
	<key>大愛網路電台</key>
	<array>
		<string>325</string>
		<integer>0</integer>
		<string>生活</string>
	</array>
	<key>青春線上</key>
	<array>
		<string>356</string>
		<integer>0</integer>
		<string>生活</string>
	</array>
	<key>GOLD FM-台北健康電台</key>
	<array>
		<string>229</string>
		<integer>0</integer>
		<string>生活</string>
	</array>
	<key>GOLD FM-台中城市廣播</key>
	<array>
		<string>226</string>
		<integer>0</integer>
		<string>生活</string>
	</array>
	<key>台北廣播電台喔海洋頻道</key>
	<array>
		<string>238</string>
		<integer>0</integer>
		<string>生活</string>
	</array>
	<key>台北廣播電台- 都會資訊頻道</key>
	<array>
		<string>208</string>
		<integer>0</integer>
		<string>生活</string>
	</array>
	<key>台中廣播</key>
	<array>
		<string>230</string>
		<integer>0</integer>
		<string>生活</string>
	</array>
	<key>大千電台</key>
	<array>
		<string>109</string>
		<integer>0</integer>
		<string>生活</string>
	</array>
	<key>宜蘭中山電台</key>
	<array>
		<string>301</string>
		<integer>0</integer>
		<string>生活</string>
	</array>
	<key>真心之音廣播電台</key>
	<array>
		<string>217</string>
		<integer>0</integer>
		<string>生活</string>
	</array>
	<key>中廣新聞網</key>
	<array>
		<string>207</string>
		<integer>0</integer>
		<string>新聞</string>
	</array>
	<key>NEWS98新聞網</key>
	<array>
		<string>187</string>
		<integer>0</integer>
		<string>新聞</string>
	</array>
	<key>正義電台</key>
	<array>
		<string>1020</string>
		<integer>0</integer>
		<string>綜合</string>
	</array>
	<key>正聲台北調頻台</key>
	<array>
		<string>198</string>
		<integer>0</integer>
		<string>綜合</string>
	</array>
	<key>正聲台北調幅台</key>
	<array>
		<string>317</string>
		<integer>0</integer>
		<string>綜合</string>
	</array>
	<key>復興廣播電台 第一網</key>
	<array>
		<string>286</string>
		<integer>0</integer>
		<string>綜合</string>
	</array>
	<key>復興廣播電台 第二網</key>
	<array>
		<string>287</string>
		<integer>0</integer>
		<string>綜合</string>
	</array>
	<key>復興廣播電台 短波網</key>
	<array>
		<string>288</string>
		<integer>0</integer>
		<string>綜合</string>
	</array>
	<key>漢聲廣播電台全國調頻網</key>
	<array>
		<string>216</string>
		<integer>0</integer>
		<string>綜合</string>
	</array>
	<key>漢聲廣播電台</key>
	<array>
		<string>215</string>
		<integer>0</integer>
		<string>綜合</string>
	</array>
	<key>漢聲光華網-短波</key>
	<array>
		<string>309</string>
		<integer>0</integer>
		<string>綜合</string>
	</array>
	<key>漢聲光華網-中波</key>
	<array>
		<string>281</string>
		<integer>0</integer>
		<string>綜合</string>
	</array>
	<key>台灣之音-華語</key>
	<array>
		<string>315</string>
		<integer>0</integer>
		<string>綜合</string>
	</array>
	<key>綠色和平台灣文化廣播電台</key>
	<array>
		<string>327</string>
		<integer>0</integer>
		<string>綜合</string>
	</array>
	<key>ICRT</key>
	<array>
		<string>177</string>
		<integer>0</integer>
		<string>外語</string>
	</array>
	<key>台灣之音-歐美及方言</key>
	<array>
		<string>314</string>
		<integer>0</integer>
		<string>外語</string>
	</array>
	<key>台灣之音-FM</key>
	<array>
		<string>312</string>
		<integer>0</integer>
		<string>外語</string>
	</array>
	<key>台灣之音-亞洲</key>
	<array>
		<string>311</string>
		<integer>0</integer>
		<string>外語</string>
	</array>
	<key>多元文化</key>
	<array>
		<string></string>
		<integer>0</integer>
		<string>外語</string>
	</array>
	<key>寶島新聲廣播電台</key>
	<array>
		<string>259</string>
		<integer>0</integer>
		<string>外語</string>
	</array>
	<key>中廣客家頻道</key>
	<array>
		<string>160</string>
		<integer>0</integer>
		<string>外語</string>
	</array>
	<key>大漢之音</key>
	<array>
		<string>300</string>
		<integer>0</integer>
		<string>外語</string>
	</array>
	<key>寶島客家廣播電台</key>
	<array>
		<string>241</string>
		<integer>0</integer>
		<string>外語</string>
	</array>
	<key>新客家廣播電台</key>
	<array>
		<string>254</string>
		<integer>0</integer>
		<string>外語</string>
	</array>
	<key>高屏溪客家廣播電台</key>
	<array>
		<string>298</string>
		<integer>0</integer>
		<string>外語</string>
	</array>
	<key>中廣寶島網</key>
	<array>
		<string>162</string>
		<integer>0</integer>
		<string>外語</string>
	</array>
</dict>
</plist>
